#main_view {
  background-color: white;
}

#timer_label {
  top: 160px;
  left: 60px;
  width: 200px;
  height: 60px;
  font-size: 60px;
  text-align: center;
}
#timer_button {
  top: 230px;
  left: 60px;
  width: 200px;
  height: 40px;
  color: white;
  background-color: #007F00;
}
#task_header_label {
  top: 375px;
  left: 60px;
  width: 200px;
  height: 30px;
  font-size: 20px;
  color: #AAAAAA;
}
#task_name_label {
  top: 400px;
  left: 60px;
  width: 200px;
  height: 30px;
  font-size: 20px;
  color: #333333;
}

navigation-bar {
  background-color: #7F0000;
  color: white;
  -ios-tint-color: white;
}

navigation-bar title {
  color: white;
}

.pomodoro_view {
  width: 24px;
  height: 24px;
  background-color: transparent;
}
.pomodoro_view:nth-of-type(1) {
  top: 290px;
  left: 60px;
}
.pomodoro_view:nth-of-type(2) {
  top: 290px;
  left: 85px;
}
.pomodoro_view:nth-of-type(3) {
  top: 290px;
  left: 110px;
}
.pomodoro_view:nth-of-type(4) {
  top: 290px;
  left: 135px;
}
.pomodoro_view:nth-of-type(5) {
  top: 290px;
  left: 160px;
}
.pomodoro_view:nth-of-type(6) {
  top: 290px;
  left: 185px;
}
.pomodoro_view:nth-of-type(7) {
  top: 290px;
  left: 210px;
}
.pomodoro_view:nth-of-type(8) {
  top: 290px;
  left: 235px;
}
.pomodoro_view:nth-of-type(9) {
  top: 315px;
  left: 60px;
}
.pomodoro_view:nth-of-type(10) {
  top: 315px;
  left: 85px;
}
.pomodoro_view:nth-of-type(11) {
  top: 315px;
  left: 110px;
}
.pomodoro_view:nth-of-type(12) {
  top: 315px;
  left: 135px;
}
.pomodoro_view:nth-of-type(13) {
  top: 315px;
  left: 160px;
}
.pomodoro_view:nth-of-type(14) {
  top: 315px;
  left: 185px;
}
.pomodoro_view:nth-of-type(15) {
  top: 315px;
  left: 210px;
}
.pomodoro_view:nth-of-type(16) {
  top: 315px;
  left: 235px;
} 

.task_cell .pomodoro_view:nth-of-type(1) {
  top: 48px;
  left: 15px;
}
.task_cell .pomodoro_view:nth-of-type(2) {
  top: 48px;
  left: 40px;
}
.task_cell .pomodoro_view:nth-of-type(3) {
  top: 48px;
  left: 65px;
}
.task_cell .pomodoro_view:nth-of-type(4) {
  top: 48px;
  left: 90px;
}
.task_cell .pomodoro_view:nth-of-type(5) {
  top: 48px;
  left: 115px;
}
.task_cell .pomodoro_view:nth-of-type(6) {
  top: 48px;
  left: 140px;
}
.task_cell .pomodoro_view:nth-of-type(7) {
  top: 48px;
  left: 165px;
}
.task_cell .pomodoro_view:nth-of-type(8) {
  top: 48px;
  left: 190px;
}
.task_cell .pomodoro_view:nth-of-type(9) {
  top: 48px;
  left: 215px;
}
.task_cell .pomodoro_view:nth-of-type(10) {
  top: 48px;
  left: 240px;
}
.task_cell .pomodoro_view:nth-of-type(11) {
  top: 48px;
  left: 265px;
}
.task_cell .pomodoro_view:nth-of-type(12) {
  top: 48px;
  left: 290px;
}

/*
  Hide these - they're too wide for the cell!
  One should never have more than a few pomodoros per task anyway
*/
.task_cell .pomodoro_view:nth-of-type(13),
.task_cell .pomodoro_view:nth-of-type(14),
.task_cell .pomodoro_view:nth-of-type(15),
.task_cell .pomodoro_view:nth-of-type(16) {
  background-color: transparent;
}

.empty_label {
  top: 200px;  
  left: 0;
  
  width: 320px;
  height: 30px;

  font-size: 18px;
  color: #AAAAAA;
  text-align: center;
}
